<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.2.xsd
 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <dubbo:application name="MKShopFrontWeb"/>

    <dubbo:registry protocol="zookeeper" address="192.168.50.10:2181"/>

    <dubbo:protocol host="192.168.50.36"/>

    <dubbo:reference interface="com.nexus.manager.service.UserService" id="userService"/>
    <dubbo:reference interface="com.nexus.manager.service.DemoService" id="demoService"/>
    <dubbo:reference interface="com.nexus.front.service.LoginService" id="loginService"/>
    <dubbo:reference interface="com.nexus.front.service.MemberService" id="memberService"/>
    <dubbo:reference interface="com.nexus.front.service.CartService" id="cartService"/>
    <dubbo:reference interface="com.nexus.front.service.AddressService" id="addressService"/>
    <dubbo:reference interface="com.nexus.front.service.OrderService" id="orderService"/>
    <dubbo:reference interface="com.nexus.front.service.ItemService" id="itemService"/>

</beans>