<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/tx
       					   http://www.springframework.org/schema/tx/spring-tx.xsd
       					   http://www.springframework.org/schema/aop
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context
       					   http://www.springframework.org/schema/context/spring-context.xsd">

     <!--shiro的数据源realm-->
     <bean id="myRealm" class="com.nexus.manager.shiro.MyRealm"/>
     <!--shiro安全管理器-->
     <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
          <!--放置数据源Realm-->
          <property name="realm" ref="myRealm"/>
          <property name="sessionManager" ref=""/>
     </bean>
     <!--配置shiro的生命周期-->
     <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
     <bean id="shiroFilter" class="com.nexus.manager.shiro.MyShiroFilter">
          <property name="securityManager" ref="securityManager"/>
          <!--登陆页面地址-->
          <property name="loginUrl" value="/"/>
          <!--登陆之后跳转的地址-->
          <property name="successUrl" value="/"/>
          <!--没通过登陆之后跳转地址-->
          <property name="unauthorizedUrl" value=""/>
          <!--定义filter-->
          <!--
          <property name="filters">
          </property>
          -->
          <!--过滤URL控制-->
          <property name="filterChainDefinitions">
                    <value>
                         /user/login=anon
                         /user/getdemo=anon
                    </value>
          </property>
     </bean>

</beans>